
/* NAVIGATION */
.nav-list{
  position: absolute;
  right: 12%;
}
.nav-item{
  padding-right: 1.5rem;
  font-size: 1.25rem;
}
.nav-link{
  color: #f39233 !important;
  font-family: 'Cormorant Garamond', serif;
}
.navbar-brand{
  padding-left: 4rem;
  font-size: 1.6rem;
font-family: 'Cormorant Garamond', serif;
}
.predictor{
  color: #f39233;
}

/* CONTACT-US */
#about-us{
background-image: linear-gradient(to left, #f5a25d , #ffc93c);
}
.last-section{
text-align: left;
margin: 4%;
padding: 5%;
}
.first-p{
color: #ececec;
}
.contact-heading{
  font-family: 'DM Serif Display', serif;
  color: #ffff;
  margin: 2%;
  padding-bottom: 2%;

}
